doctype html
html(lang="en")
	head
		title Music Metadata Editor

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		nav
			ul.breadcrumb
				li.active#input
					a(href="#", onclick="setStage(0)") Input
				li#process
					a(href="#", onclick="setStage(1)") Process
				li#output
					a(href="#", onclick="setStage(2)") Output     

		main
			section
				#input-section
					h1#input-instructions.display-4.text-center Select File(s) to Process
					.stage-content
						#files-title-row
							label.checkbox-label
								input#check-all(type="checkbox")
								span.checkbox-custom
							h3 Files Availalbe
						#file-list
							each val, indx in ['Doctor Q', 'Our Special Place', 'The Wall', 'Terrible Ride', 'Everything You Wanted', 'Birth the Sky']
								.available-file
									label.checkbox-label
										input.file-checkbox(type="checkbox", onchange=`fileChecked(${indx})`, id=`f${indx}`)
										span.checkbox-custom
									span= `${(`00${indx + 1}`).substr((`00${indx + 1}`).length - 2)} - The Queenstons - Revenge of Doctor Q - ${val}.mp3`
					.button-row.d-flex.justify-content-around
						button(type="button").btn.btn-primary Upload
						button(type="button", onclick="setStage(1)").btn.btn-primary Next
				
				//- PROCESSING STAGE - Second screen -//
				//- https://wiki.multimedia.cx/index.php?title=FFmpeg_Metadata#MP3 - Complete tag list supported by ID3v1-ID3v2.4

				#process-section
					h1#input-instructions.display-4.text-center Hello there!
					.stage-content
						p haha u cannot stop me css
					.button-row.d-flex.justify-content-around
						button(type="button", onclick="setStage(0)").btn.btn-primary Previous
						button(type="button", onclick="setStage(2)").btn.btn-primary Next
				
				#output-section
					h1#input-instructions.display-4.text-center Good-bye :(
					.stage-content
						p i have the power of god #[em AND] anime on my side
					.button-row.d-flex.justify-content-around
						button(type="button", onclick="setStage(1)").btn.btn-primary Previous

		footer.d-flex.justify-content-between
			p © Chauncey Hoover 2020
			a(href="https://github.com/ChaunceyHoover/MusicMetadataEditor", target="_blank")
				img.d-inline(src="/img/GitHub-Mark-Light-32px.png", style="width:16px;height:16px;") 
				p.d-inline View on GitHub

		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/popper.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/main.js")