doctype html
html(lang="en")
	head
		title Music Metadata Editor

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		nav
			ul.breadcrumb
				li.active#input
					a(href="#") Input
				li#process
					a(href="#") Process
				li#output
					a(href="#") Output     

		main
			section(style="height:100%")
				h1.display-4.text-center Select File(s) to Process
				#files-title-row
					label.checkbox-label
						input#check-all(type="checkbox")
						span.checkbox-custom
					h3 Files Availalbe
				#file-list
					each val, indx in ['Doctor Q', 'Our Special Place', 'The Wall', 'Terrible Ride', 'Everything You Wanted', 'Birth the Sky']
						.available-file
							label.checkbox-label
								input.file-checkbox(type="checkbox", onchange=`fileChecked(${indx})`, id=`f${indx}`)
								span.checkbox-custom
							span= `${(`00${indx + 1}`).substr((`00${indx + 1}`).length - 2)} - The Queenstons - Revenge of Doctor Q - ${val}.mp3`

		footer.d-flex.justify-content-between
			p © Chauncey Hoover 2020
			a(href="https://github.com/ChaunceyHoover/MusicMetadataEditor", target="_blank")
				img.d-inline(src="/img/GitHub-Mark-Light-32px.png", style="width:16px;height:16px;") 
				p.d-inline View on GitHub

		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/popper.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/main.js")